{% extends 'layout.html.twig' %}
{% set active = 'index' %}
{% set active_link = 'index' %}
{% block page_title %}
    Accueil
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

    {% block content %}
        <!--preload-->

        {% if app.session.get("loader") == null %}
            <div class="loader" id="page-loader">
                <div class="loading-wrapper">
                    <img src="{{ asset('img/oeuvres/logo-ecloz-loader.png') }}" alt="image du loader">
                </div>
            </div>
        {% endif %}

        {{ app.session.set('loader', 1) }}

        <main class="no-bg ">
            <section id="accueil animated fadeIn">

                <div class="container">
                    <div class="row">
                        <div id="bloc_bienvenue">
                            <img class="img-responsive" src="{{ asset('img/oeuvres/ecloz_bomb.jpg') }}" alt="bombes de peinture">
                            <div class="col-xs-12 col-sm-6 col-md-5" id="bloc_texte_bienvenue">

                                <h1 class="col-xs-8">Bienvenue dans l'univers d'<span class="bleu_canard"><a href="{{ path('accueil')}}#artiste">Ecloz</a></span></h1>
                            </div>
                        </div>

                    </div> <!-- /.row -->

                    <div class="row">
                        <div id="bloc_a_la_une">
                            <div class="col-xs-12">
                                <h2>Dernières œuvres proposées</h2>
                            </div>
                            <div class="col-xs-5 col-sm-6 col-md-4" id="trait_bleu"></div>
                        </div>

                    </div> <!-- /.row -->

                    <div class="row" id="oeuvres_a_la_une">
                        {% for oeuvre in oeuvres %}

                            <div class="col-xs-12 col-sm-3 apercu_catalogue">

                                <a href="{{ oeuvre | oeuvrelink }}">
                                    <img class="img-responsive image_a_la_une" src="{{ vich_uploader_asset(oeuvre, 'imageFile') | imagine_filter('thumb') }}" alt="{{ oeuvre.nomoeuvre }}" title="{{ oeuvre.nomOeuvre }}">
                                    <div class="overlay_apercu_catalogue"> <span>{{ oeuvre.nomOeuvre }}</span></div>
                                </a>

                            </div>

                        {% endfor %}
                    </div>

                    <div class="row" id="lien_catalogue">

                        <a href="{{ path('index_catalogue') }}" class="bouton_lien">Consulter le catalogue</a>

                    </div>

                </div> <!-- /.contanier -->

            </section> <!-- /#accueil -->

            <section id="artiste">

                <div class="container">
                    <div id="presentation_artiste">
                        <div class="row">

                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-5" id="texte_presentation">
                                <div class="col-xs-12">
                                    <h1>Ecloz</h1>
                                    <div class="social_media">
                                        <a href="https://www.facebook.com/ecloz/" target="blank"><img src="{{ asset('img/oeuvres/logo_fb.png') }}" alt="facebook ecloz"></a>
                                        <a href="https://www.youtube.com/channel/UCMyJeuM9KI5JY7Nu4A9wP7w" target="blank"><img src="{{ asset('img/oeuvres/logo_youtube.png') }}" alt="youtube ecloz"></a>
                                        <a href="https://www.instagram.com/eclozartiste/?hl=fr" target="blank"><img src=".{{ asset('img/oeuvres/logo_instagram.png') }}" alt="instagram ecloz"></a>
                                        <a href="http://www.ecloz.fr" target="blank"><img src=".{{ asset('img/oeuvres/logo_www.png') }}" alt="site web ecloz"></a>
                                    </div>
                                </div>
                                <div class="presentation_artiste col-xs-12">
                                    <p>
                                        Peu de disciplines sont aussi exigeantes, authentiques et incomprises que le graff. Le graff c'est l'instant présent, un regard décalé et sans fard de la réalité, une pulsion. Guillaume Vincent a 15 ans quand il commence à peindre, à la fin des années 90, sous le pseudo "Ecloz". Friches industrielles, murs, trains, bords d'autoroutes, le graff devient très vite une passion dévorante.
                                    </p>
                                    <p>
                                        Il prend des milliers de photos, améliore constamment sa technique, et se déplace partout en France et à l’étranger. En 2004, il sera arrêté et condamné à neuf mois de prison ferme. La peine sera réduite en appel à un sursis, assorti de 55 000 Euro d'amende.<br>Mais Ecloz n'abandonne pas.
                                    </p>
                                    <p>
                                        Il se lance dans la déco, transmet sa passion, peint sur toile et expose ses photos. Il achète et restaure une boutique de la rue des Bons Enfants à Rouen, et y fait son atelier. Ecloz peint toujours dans les friches. Sa force est de n'avoir rien oublié de ses premiers pas, de ses exploits, des sanctions, ni du soutien inconditionnel de ses parents.
                                    </p>
                                    <p>
                                        S'il est resté aussi fidèle à l'esprit du graff, c'est par la conviction qu’il a, au delà de l'intérêt Artistique, une vraie valeur. Celle de la réalisation et du dépassement de soi.
                                    </p>
                                    <p>
                                        Loïc Carpentier
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-5" id="photo_ecloz">
                                <img class="img-responsive center-block" src="{{ asset('img/oeuvres/photo-ecloz.jpg') }}" alt="Ecloz en photo">
                            </div>

                        </div> <!-- /.row -->
                    </div>

                    <div class="travail">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2>Son travail</h2>
                                    </div>
                                    <div class="col-xs-5 col-sm-6 col-md-4" id="trait_bleu"></div>
                                </div>
                                <div class="row videos_travail">
                                    <div class="col-xs-12 col-md-4 video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v20kBXSEm8s?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4 video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src="https://www.youtube.com/embed/EJNREzvLyqs?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4 video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src="https://www.youtube.com/embed/BPyx7NgQOx8?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div> <!-- /.container -->

            </section> <!-- /#artiste -->


            <section id="contact">

                <div class="container" id="contact_form">

                    <div class="col-xs-12 col-sm-6 form-signin">
                        <h1 class="form-signin-heading text-muted">Contactez Nous</h1>
                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>

                    <div class=" col-xs-12 col-sm-6 adresse_galerie">
                        <p>La Galerie se situe au 54 Rue des Bons Enfant 76000 ROUEN</p>
                        <div id="map"></div>
                    </div>
                </div>

            </section> <!-- /#contact -->

        </main>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block final_javascripts %}
  
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
<script type="text/javascript">

   $(document).ready(function () {

        // GOOGLE MAP sur la galerie
       let center = [49.444672, 1.089560];
       let map = L.map('map').setView(center, 14);
       let token = "pk.eyJ1IjoiYWxpbGlob2MiLCJhIjoiY2pwbnhzMWJuMDdjNDQ4cDE2d3p1NXpyMCJ9.ajH7-kN_dNjTa35ItfjJnQ";
       L.tileLayer(`https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=${token}`).addTo(map);
       L.marker(center).addTo(map);
   });

   {% if not form.vars.valid %}
       window.location.hash = 'contact_form';
   {% endif %}

   $(window).scroll(function () {
        let scroll = $(window).scrollTop();
        let $artisteLink = $("#lienArtiste");
        if (scroll > 750 && scroll < 1450)  {
            $artisteLink.addClass("active_link");
        } else {
            $artisteLink.removeClass("active_link");
        }

        if (scroll > 1500) {
            $artisteLink.addClass("active_link");
        } else {
            $artisteLink.removeClass("active_link");
        }
        {% if not form.vars.valid %}
        window.location.hash = 'contact_form';
        {% endif %}
   });

</script>  
   

{% endblock %}