<footer class="container-fluid">
    <div class="container">

        <div class="col-xs-12">
            <p>
                <a href="{{ path('static_page', {page: 'mentionsLegales'}) }}" {% if active_link == 'mentions-legales' %} {{ "class=\"active_link\"" }} {% endif %}>Mentions Légales</a>
                |
                <a href="{{ path('static_page', {page: 'cgv'}) }}" {% if active_link == 'cgv' %} {{ "class=\"active_link\"" }} {% endif %}>Conditions générales de ventes et d'utilisation</a>
                |
                <a href="{{ path('static_page', {page: 'termes-location'}) }}" {% if active_link == 'termes-location' %} {{ "class=\"active_link\"" }} {% endif %}>Termes de la location</a>
                |

                <a href="https://nfactory.io/" target="blank">© NFactory School - 2018</a>

            </p>
        </div> <!-- /.col-xs-12-->

        <div class="col-xs-12">
            <p>
                Partenaires
            </p>
        </div>

        <div class="col-xs-12">
            <a href="https://campus-saint-marc.com/" target="blank"><img src="{{ asset('img/footer/foot-csm.png') }}"></a>
            <a href="https://fredericnoel.com/"  target="blank"><img src="{{ asset('img/footer/foot-fredericnoel.png') }}"></a>
            <a href="https://nfactory.io/"  target="blank"><img src="{{ asset('img/footer/foot-nf.png') }}"></a>
            <a href="https://nfactory.io/devenez-developpeur-web-nfactory-school/" target="blank"><img src="{{ asset('img/footer/foot-nfc.png') }}"></a>
            <a href="http://www.wf3.fr/"  target="blank"><img src="{{ asset('img/footer/foot-wf3.png') }}"></a>
        </div>
        <div class="col-xs-12">
            <p>
                Powered by <a href="{{ path('static_page', {page: 'nlocart'}) }}"><img src="{{ asset('img/oeuvres/logo_NLocArt.png') }}" alt="logo NLocArt" id="logo_NLocArt"></a>
            </p>
        </div> <!-- /.col-xs-12-->
    </div> <!-- /.container -->
</footer>