<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Boutique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item item {% if current_menu is defined and current_menu == 'home'%}active{% endif %}">
                <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown item {% if current_menu is defined and current_menu == 'produits'%}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/produits/eletomenager">Electroménager</a>
                    <a class="dropdown-item" href="/produits/alimentation">Alimentation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('produits.index') }}">Tous les produits</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'admin'%}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.produit.index') }}">Tous les produits</a>
                    <a class="dropdown-item" href="{{ path('admin.marques.index') }}">Toues les marques</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a  href="/app_logout"><span class="fa fa-user-slash" style="color: #fff;"/></a>
            {% else %}
                <a  href="{{ path('app_register') }}"><span class="fa fa-user-plus" style="color: #fff;"/></a>
                <a  href="{{ path('app_login') }}" style="color: #fff;">Login</a>
            {% endif %}
        </form>
    </div>
</nav>
